In [ ]:
# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. ggplot

| Data Science Tools |
| ----------- |
| Visual Studio Code |
| R Studio |
| MySQL |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [2]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

### *Objectives:*
- Data science tools
- Popular languages used for Data Science
- Popular libraries for Data Science
- Basic arithmetic operations

## Author:
Juan Ruiz